@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Fira Sans", serif;
    max-width: 1349px;
}

.full-width{
    background-color: #f5f5f5;
    width: 100%;
}
.primary-btn{
    background-color: #006A50;
    padding: 9px 25px;
    font-size: 18px;
    color: #ffffff;
    border: none;
    border-radius: 8px;
}

.primary-btn:hover{
    background-color: #ffffff;
    /* border: #006A50 2px solid; */
    color: #057559;
    display: block;
}
/* nav style */
.nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    width: 80%;
    margin: 0 10%;
}
.nav-item h3{
    font-weight: bold;
    color: #0E0E0E;
    font-size: 32px;
}
.sign-btn{
    color: #006A50;
    border-radius: 8px;
    font-weight: semibold;
    font-size: 18px;
    border: #006A50 solid 2px;
    padding: 9px 25px;
}
.sign-btn:hover{
    background-color: #057559;
    color: #ffffff;
}

/* banner section style */

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    width: 80%;
    margin: 0px 10%;
    background-color: #C6E4D6;
    border-radius: 24px;
}
.header-content{
    margin: 40px 30px;
}
.header-content h4{
    color: #0E0E0E;
    font-size: 24px;
    font-weight: medium;
    opacity: 50%;
    margin-bottom: 14px;
}
.header-content h2{
    font-size: 45px;
    color: #0E0E0E;
    margin-bottom: 20Px;
}
.header-img{
    margin: 40px 30px;
    width: 475px;
    height: 400px;
}
/* section pillars */
.pillars{
    width: 80%;
    margin: 40px 10%;
}
.pillars h2{
    color: #0E0E0E;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
}

.pillars-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    gap: 20px;
}
.pillar-item{
    background-color: #ffffff;
    border-radius: 10px;
    border: none;
    padding: 24px;
    width: 300px;
    height: 250px;

}
.pillar-item img{
    width: 64px;
    height: 64px;
    object-fit: cover;
    margin-bottom: 24px;
}
.pillar-item h3{
    color: #0E0E0E;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 12px;
    opacity: 80%;
}

.pillar-item p{
    color: #0E0E0E;
    font-size: 16px;
    font-weight: normal;
    opacity: 70%;
}
/* card section */
.card{
    width: 80%;
    margin: 40px 10%;
}
.card-heading img{
    height: 64px;
    width: 64px;
}
.card-heading h2{
    color: #0E0E0E;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}
.card-heading p{
    color: #0E0E0E;
    font-size: 16px;
    font-weight: normal;
    opacity: 70%;
}

.card-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
    gap: 24px;
}

.card-item{
    border-radius: 16px;
    border: none;
    padding: 30px;
    width: 300px;
    height: 250px;
}
.card-item h3{
    color: #0E0E0E;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    opacity: 80%;
}
.card-item p{
    color: #0E0E0E;
    font-size: 16px;
    font-weight: normal;
    opacity: 70%;
}
.yellow{
    background: #F7EBCF;
}
.blue{
    background: #acc4ec;
}.green{
    background: #C6E4D6;
}
.card-btn{
    margin: 30px 0px;
}
.btn-yellow{
    background-color: #FFC239;
    color: #ffffff;
    font-size: 16px;
    font-weight: semi-bold;
}

.btn-yellow:hover{
    background-color: #ffffff;
    color: #ffB529;
}
.btn-blue{
    background-color: #5490F5;
    color: #ffffff;
    font-size: 16px;
    font-weight: semi-bold;
}

.btn-blue:hover{
    background-color: #ffffff;
    color: #5490F5;
}
/* quote section */

.quote{
    width: 80%;
    margin: 40px 10%;
    background-color: #ffffff;
    border-radius: 16px;
    height: 260px;
    box-shadow: 2px 2px 8px #1f1f1f ;
}
.quote-content{
    background-image: url("./assets/quote-bg.png");
    background-repeat: no-repeat;
    background-position: top left;
    padding: 48px 24px;
}
.quote-content p{
    color: #0E0E0E;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 20px;
    line-height: 24px;
    opacity: 80%;
}
.quote-content h4{
    color: #0E0E0E;
    font-size: 22px;
    font-weight: semi-bold;
    margin-bottom: 10px;
    opacity: 80%;
}